[
  %% Server options (for accepting connections)
  {server, [
    {certfile, "/app/certs/cert.pem"},
    {keyfile, "/app/certs/key.pem"},
    {cacertfile, "/app/certs/ca-cert.pem"},
    {verify, verify_peer},
    {fail_if_no_peer_cert, true},
    {secure_renegotiate, true},
    {versions, ['tlsv1.2', 'tlsv1.3']},
    {nodelay, true}
  ]},

  %% Client options (for making connections)
  {client, [
    {certfile, "/app/certs/cert.pem"},
    {keyfile, "/app/certs/key.pem"},
    {cacertfile, "/app/certs/ca-cert.pem"},
    {verify, verify_peer},
    {secure_renegotiate, true},
    {versions, ['tlsv1.2', 'tlsv1.3']},
    {nodelay, true}
  ]}
].
